<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
	<link rel="stylesheet" type="text/css" href="../css/bootstrap.v3.0.3.css" /> 
	<script type="text/javascript" src="../js/jquery.v2.2.4.js"></script> 

<script type="text/javascript" src="https://cdn.bootcss.com/vue/2.2.2/vue.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/vue.resource/1.3.1/vue-resource.min.js"></script>
<script type="text/javascript" src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
</head>

<body>
	<div class="container-fluid">
		<div class="panel panel-default">
			<div class="panel-body">
				 <h1>性能测试
			        <small>报文批量生成工具</small>
			    </h1>
			</div>
		</div>
		<div class="row-fluid">
			<div class="col-md-2">
				<ul class="nav nav-list well">
					<li class="nav-header">模板</li>
					<li><a href="..">模板列表</a></li>
					<li class="active" style="background:#87CEFA;border-radius:5px">
						<a href="#">新增模板</a>
					</li>
					<li class="nav-header">规则</li>
					<li><a href="#">规则列表</a></li>
					<li><a href="#">新增规则</a></li>
					<li class="divider"></li>
					<li><a href="#">帮助</a></li>
				</ul>
			</div>
			<div class="col-md-10">
				<div id="DataMuduleDiv" class="row clearfix">
					<div class="col-md-2 column"></div>
					<div class="col-md-6 column">
						<form class="form-horizontal" role="form">
							<div class="form-group">
								<label>模板名称</label> 
								<input type="text" class="form-control" v-model="module.moduleName"/>
							</div>
							<div class="form-group">
								<label>模板</label>
								<textarea class="form-control" rows="10" v-model="module.moduleText"></textarea>
							</div>
							<div class="form-group">
								<label for="exampleInputFile">文件输入</label> 
								<input type="file" id="exampleInputFile" />
							</div>
							<div class="col-md-6 column"></div>
							<div class="col-md-6 column" style="text-align: right">
								<button type="button" v-on:click="submitModuleData"
									class="btn btn-default btn-success">保存</button>
								<button type="button" 
								    v-on:click="goRuleModule"
									class="btn btn-default btn-info">添加规则</button>
							</div>
							<div class="col-md-4 column">moduleId:{{module.moduleId}}</div>
						</form>
					</div>

				</div>
			</div>
		</div>
	</div>
</body>
</html>
<script type="text/javascript">

	new Vue({
	  el: '#DataMuduleDiv',
	  data: {
		  module:{moduleId:'',moduleName:'模板名称',moduleText:'模板内容'}
	  },
	  methods:{
		  submitModuleData:function(){
			  this.$http({
				  method:'POST',
				  url:'/GeneratorDataWeb/module/add.do',
				  body:{'moduleData':JSON.stringify(this.module)},
				  emulateJSON:true, //允许body带接送传输
					headers: {
						dataType:"json", 
						contentType:"application/json"
                	}
			  }).then(response => {
				  this.module.moduleId=response.bodyText;
				  if(!isNaN(this.module.moduleId)){
					  alert("处理成功！");
				  }else{
					  alert("处理失败！");
				  }
			  }, response => {
				  console.log("反馈出现问题！");
			  });
		  },
		  goRuleModule:function(){
			  window.location.href="/GeneratorDataWeb/pages/setModuleRule.html#/"+this.module.moduleId;
		  }
	  }
	})
// 	.$mount('#DataMuduleDiv')
</script>