<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="../css/bootstrap.v3.0.3.css" /> 
<script type="text/javascript" src="../js/jquery.v2.2.4.js"></script> 
<script type="text/javascript" src="../js/vue.min.v2.2.2.js"></script>
<script type="text/javascript" src="../js/vue-resource.min.v1.3.1.js"></script>
<script type="text/javascript" src="../js/vue-router.v3.0.0.js"></script>
</head>

<body>
	<div class="container-fluid">
		<div class="panel panel-default">
			<div class="panel-body">
				 <h1>性能测试
			        <small>报文批量生成工具</small>
			    </h1>
			</div>
		</div>
		<div class="row-fluid">
			<div class="col-md-2">
				<ul class="nav nav-list well">
					<li class="nav-header">模板</li>
					<li><a href="..">模板列表</a></li>
					<li><a href="pages/addModule.html">新增模板</a></li>
					<li class="nav-header">规则</li>
					<li><a href="#">规则列表</a></li>
					<li><a href="#">新增规则</a></li>
					<li class="divider"></li>
					<li class="nav-header">造数</li>
					<li class="active" style="background:#87CEFA;border-radius:5px">
					<a href="#">关联规则</a>
					</li>
				</ul>
			</div>
			<div class="col-md-10">
				<div id="DataMuduleDiv2" class="row clearfix">
					<div class="col-md-3 column"></div>
					<div class="col-md-6 column">
						<form class="form-horizontal" role="form">
							<div class="form-group">
								<label>模板名称</label>
								<input type="text" class="form-control" v-model="module.moduleName" readonly="true" />
							</div>
							<div class="form-group">
								<label>模板</label>
								<textarea class="form-control" rows="8" v-model="module.moduleText" disabled></textarea>
							</div>
							<div class="form-group">
								<button @click="addParam()" class="btn btn-primary">Add Param</button>
								<button @click="initParam()" class="btn btn-primary">Init Param</button>
							</div>
							<div>
								<div v-for="item in paramsList">
									<div class="form-group">
										<div class="col-md-3 column" class="form-group">
											<label>参数{{item.pIndex}}</label>
										</div>
										<div class="col-md-9 column" class="form-group">
											<div>
												<select v-model='ruleValue[item.pIndex]'>
													<option v-for="rule in ruleList" v-bind:value="rule.ruleId">{{rule.ruleName}}</option>
												</select>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-6 column"></div>
								<div class="col-md-6 column" style="text-align: right">
									<button type="button" v-on:click="submitModuleRule" class="btn btn-default btn-success">保存</button>
								</div>
							</div>
						</form>
					</div>
					<div class="col-md-3 column"></div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
<script type="text/javascript">

//定义路由，用于调转到当前页面时，获取相应参数
const router = new VueRouter({
	routes:[{
		path:'/:muduleId'
	}]
})

new Vue({
  el: '#DataMuduleDiv2',
  //加载执行函数  mounted
  mounted() {
	  this.getModuleData();
	  this.getRuleData();
  },
  data: {
	  module:{moduleId:'',moduleName:'',moduleText:''}, //当前模板的相关内容
	  ruleList:[],//缓存的参数规则列表
	  paramsList: [],//参数列表，用于设置参数
	  ruleValue:[],//记录选择后的规则信息
	  submitValue:{moduleId:'',ruleValues:''},//封装提交参数
	  pindex: 0
  },
  methods:{
	  getModuleData:function(){
		  this.$http({
			  method:'GET',
			  url:'/GeneratorDataWeb/module/get/'+this.$route.params.muduleId+'.do',
			  emulateJSON:true, //允许body带接送传输
				headers: {
					dataType:"json", 
					contentType:"application/json"
          		}
		  }).then(response => {
			  this.module = response.body;
			  this.initParam(); //初始化参数窗口
		  },response => {
			  console.log("反馈出现问题！");
		  });
	  },
	  getRuleData:function(){
		  this.$http({
			  method:'GET',
			  url:'/GeneratorDataWeb/rule/getAll.do',
			  emulateJSON:true, //允许body带接送传输
				headers: {
					dataType:"json", 
					contentType:"application/json"
        		}
		  }).then(response => {
			  this.ruleList = response.body;
		  },response => {
			  console.log("反馈出现问题！");
		  })
	  },
	  initParam:function(){
		  var sourceStr = this.module.moduleText;
		  var count = 0;
		  for(var i=0;i<sourceStr.length;i++){
			  if(sourceStr[i]=='$'){
				  this.paramsList.push({
			    	  'pValue': this.ruleValue[this.pindex],
			    	  'pIndex': this.pindex++,
			      });
			  }
		  }
	  },
	  addParam:function() {
	      this.paramsList.push({
	    	  'pValue': this.ruleValue[this.pindex],
	    	  'pIndex': this.pindex++,
	      });
	  },
	  submitModuleRule:function(){
		  this.submitValue.moduleId=this.module.moduleId;
		  this.submitValue.ruleValues=this.ruleValue;
		  this.$http({
				method:'POST',
				url:'/GeneratorDataWeb/moduleRule/add.do',
				body:{'moduleRuleData':JSON.stringify(this.submitValue)},
				emulateJSON:true, //允许body带接送传输
				headers: {
					dataType:"json", 
					contentType:"application/json"
				}
		  }).then(response => {
			  alert(response.bodyText);
		  },response => {
			  alert("处理失败！");
		  });
	  }
  },
  router
})
//	.$mount('#DataMuduleDiv')
</script>